{% extends "backend/common/nav_common.html" %}
{% load staticfiles %}
{% block title %}Midas-信用卡推荐{% endblock %}
{% block css %}{% endblock %}
{% block content %}
    <div class="col-lg-12">
        <section class="panel">
    <header class="panel-heading">
                <h2><strong>信用卡推荐</strong></h2>
                <label class="color">一卡走天下 <em><strong> </strong></em></label>
            </header>

				<div class="tabbable">
{#						<ul class="nav nav-tabs" data-provide="tabdrop">#}
{#								<li><a href="#" id="prevtab" data-change="prev"><i class="fa fa-chevron-left"></i></a></li>#}
{#								<li><a href="#" id="nexttab" class="change" data-change="next"><i class="fa fa-chevron-right"></i></a></li>#}
{#								<li class="active"><a href="#tab1" data-toggle="tab">刷卡活动</a></li>#}
{#								<li><a href="#tab2" data-toggle="tab">海淘活动</a></li>#}
{#								<li><a href="#tab3" data-toggle="tab">开卡活动«</a></li>#}
{#						</ul>#}
						<div class="tab-content">
                                <p>一卡走天下<p>

<p>一卡走天下，笔笔无脑刷；这是每个信用卡持卡人的梦想。<p>

<p>因为信用卡用多了，难免会忘记还款；而如果能够一卡走天下，那么无论从管理还是使用上都会轻松很多。而在消费的时候不用纠结刷哪张卡最合适，也是一卡走天下的重要成果。<p>

<p>而今年的信用卡申请攻略中，必然也需要为各位介绍几张能“一卡走天下”的信用卡。<p>

<p>而这次，各位可以在两张信用卡中选择其一，然后开始一卡走天下之路。<p>

<p>而为各位推荐的第一张"一卡走天下"，依然是大家的老朋友——浦发美国运通白金卡：<p>

<p> 浦发美国运通白金卡
                          <p> <img src="{% static "assets/img/card/spdb_aeplatinum.jpg" %}"/></p>
<p>  这张浦发美运白，牵动了不知多少用户的心。有励志哥申请了五六十次，终于抱得白金还，也有人屡败屡战，每天打开申请进度页面刷刷刷。
<p>
<p>而这张卡究竟有何等权益，引得大家都如此心动？咱们来看看它的权益：<p>

<p>出行权益：
<p>每年3次境内龙腾舒适车型接送机
<p>本人无限次机场贵宾休息室（PP卡），每年另可携带6人次进入休息室
<p>附赠保险：1500万航空意外险，航班延误每4小时500元延误险，10万元盗刷险
<p>酒店权益：
<p>可用50000分兑换一晚酒店，每年两晚，酒店列表见：http://ccc.spdb.com.cn/miniSite/Platamex/1_4.shtml （稍后详细分析）
<p>雅高国内部分酒店住一送一
<p>积分权益：
<p>里程兑换：12分兑换1里程，1元积累1.5分，相当于消费 8元=1里程
<p>另可加持5倍积分，消费 2.4元=1里程
<p>积分红包：每笔交易抽积分红包<p>

<p>还有诸如一年boingo免费wifi之类的小优惠，蓝翼便不多说了。<p>

<p>而虽然它的年费号称3600元，但可以用20万积分兑换。而 20万积分 换回 3次接送机 和本人无限使用还可带人的机场贵宾休息室，可以说是相当划算的。<p>

<p>而如果想将浦发美运白作为里程积累利器，必然得说说 5倍积分 计划的使用：<p>

<p>首先，去浦发官网订购5倍积分权益，目前只能在支付宝 / 微信 / 餐饮 / 百货 / 酒店 / 娱乐 中 6类选2类，每类每月3元。蓝翼选的是 支付宝和微信。<p>

<p>然后，便是开心的刷刷刷啦，但每类积分权益每月有个赠送积分上限：50000分。由于目前浦发信用卡自带 1.5倍 积分，因此赠送的积分便变成了 3.5倍，也就是说，每月每类大约刷 14286元 能拿到 5倍积分，之后便只能拿到 1.5倍了。<p>

<p>另外，有两个活动不容错过：<p>

<p>新户（没有浦发信用卡的客户）申请浦发美运白金卡，开卡60天内在 境外（含港澳台地区）刷 3笔超过1888元 的交易，可获赠 1000元携程任我行 卡，仅限线上申请这张卡的用户可享，限1500人。
<p>2016.11.1 - 2017.1.31 浦发美运白金卡用户可在携程旅行网预订指定境外游套餐并优惠2016元，每月1日上午10:00开始抢，每月限500单，蓝翼抢了个2300多元的套餐，最后实付300出头。 活动地址见：http://vacations.ctrip.com/marketing/pfmy.html<p>

<p>最后说一下申请门槛：<p>

<p>持有招行、中信、中行、交行等银行的白金卡，授信额度 6万元及以上，或者年税后收入 25万元。<p>

<p>而蓝翼对这张卡的评价是：<p>

<p>申请难度：4（有些难度）
<p>卡片权益：4（登堂入室）
<p>积分价值：5（积分神器）<p>

                            <hr>
                            <br><br><br><br>

<p> 招行经典白金信用卡
<p><img src="{% static "assets/img/card/cmb_classicplatium.jpg" %}"/>
<p>而另一张"一卡走天下"呢，则是招商银行经典白金信用卡。如果要追溯浦发美运白的学习对象，那么必然是这张招行经典白金卡啦，浦发美运白的大部分权益，都在默默的对标这张招行经典白金卡。
<p>比起往年，招行的活动可是格外的丰盛。在今年下半年的几场活动中，招行给各位持卡用户贡献了大量的积分、锅、箱子……<p>

<p>而积分的最佳搭档，便是这张招行经典白啦，我们先来看看它的权益：<p>

<p>出行权益：
<p>机场贵宾：每卡每年 6人次 机场贵宾，主卡和附属卡同样独立
<p>附赠保险：1500万航空意外险，航班延误4小时500元定额补偿 或 2000元旅行不便报销，以及和信用额度相同的盗刷险
<p>酒店权益：
<p>每户每年 4次 300元+100积分 酒店预订权益，蓝翼推荐：香港文华东方 1500元+100积分，上海茂悦周末 300元+100积分 （稍后详细分析）
<p>另外，用这张卡预订凯悦旗下酒店，可享住三免一（使用代码：HYVISA），预订洲际旗下酒店可享升级+双早
<p>运动健康：
<p>运动权益：12次高尔夫练习场
<p>每卡一年一次体检，一次洗牙，主卡和附属卡都有独立的体检和洗牙
<p>积分权益：
<p>兑换里程：普通消费 20元积1分，1500分换 2000 国航/南航/东航里程，1800分换2000 亚洲万里通里程；但每自然年兑换超过50000公里之后，需要 3000 分才能换取2000里程
<p>积分加速：生日10倍积分，同样主卡附属卡都有10倍，每个生日最多赠送10000分，也就是消费22240元拿满；在这一天，使劲用这张卡请朋友们吃饭吧！
<p>积分活动：招行今年8月的积分挑战赛，最多送30000积分；以及最近的10元风暴，相当于一个自带的5倍积分功能<p>

<p>招行经典白的年费是3600元（主卡）/2000元（附属卡），可以分别用10000 / 5000 招行永久积分换取。蓝翼觉得，办经典白还是相当划算滴，一张卡无脑刷，解决全家大部分出行权益，记得办足全家人的附属卡哟。<p>

<p>另外，招行部分信用卡每月首笔取现免手续费，只要需要在还清已出账单&分期还款手续费后操作取现，便能免费赚到这笔取现的积分。<p>

<p>最后说一下申请门槛：<p>

<p>招行代发工资，每月税后15000。或者招行信用卡固定额度50000，或者金葵花达标（50万）三个月，可尝试申请。<p>

<p>同样，这是招行经典白的评价：<p>

<p>申请难度：4（有些难度）
<p>卡片权益：4（登堂入室）
<p>积分价值：4（较有价值）<p>

<p> 总结
<p>
<p>如上两张信用卡，得其一便可一卡走天下；而如果得其二，他们之间的权益可以更好的补充：<p>

<p>比如在一次旅行中，用浦发美运白送机，然后用招行经典白走贵宾通道，过了安检进用浦发美运白的PP带一家进休息室，然后住进招行经典白的300+100酒店……两个好基友，能一起让你的生活更美好！


						</div>
						<!-- //tab-content -->
				</div>
				<!-- //tabbable -->
        </section>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static "assets/plugins/datable/jquery.dataTables.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/plugins/datable/dataTables.bootstrap.js" %}"></script>

    <script>

    </script>

{% endblock %}