{% extends "backend/common/nav_common.html" %}
{% load staticfiles %}
{% block title %}Midas-密码{% endblock %}
{% block css %}{% endblock %}
{% block content %}
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h2><strong>密码</strong></h2>
                <label class="color">密码 <em><strong> </strong></em></label>
            </header>
            <div class="panel-body">
                <div class="tabbable">
                    <div class="tab-content row">

                        <div class="tab-pane fade in active col-lg-8" id="tab1">
                            <form class="form-horizontal" method="post" id="formAjaxId" data-collabel="3"
                                  data-parsley-validate action="/api/password/">

                                <div class="form-group"><label
                                        class="col-lg-2 control-label">原密码</label>

                                    <div class="col-lg-10">
                                        <input type="text"
                                               class="form-control"
                                               name="orig_password"
                                               placeholder="请输入原密码" parsley-required="true"/>
                                    </div>
                                </div>
                                <div class="form-group"><label for="inputName"
                                                               class="col-lg-2 control-label">新密码</label>

                                    <div class="col-lg-10">
                                        <input type="text"
                                               class="form-control"
                                               name="password"
                                               placeholder="请输入新密码" parsley-required="true"/>
                                    </div>
                                </div>
                                <div class="form-group"><label
                                        class="col-lg-2 control-label">确认</label>

                                    <div class="col-lg-10">

                                        <input type="text"
                                               class="form-control"
                                               name="confirm_password"
                                               placeholder="请输入确认密码" parsley-required="true"/>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default closeBtn">关闭</button>
                                    <button class="btn btn-primary btn btn-success" type="submit">保存</button>
                                </div>
                            </form>

                            <br>
                        </div>
                        <!-- /#tab1-->

                    </div>
                    <!-- //tab-content -->
                </div>


            </div>
            {#            <div class="panel-body">#}
            {#                无信息#}
            {#            </div>#}
        </section>

    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static "assets/plugins/datable/jquery.dataTables.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/plugins/datable/dataTables.bootstrap.js" %}"></script>

    <script>

    </script>
{% endblock %}