{% load staticfiles %}
<!--
//////////////////////////////////////////////////////////////
//////////     LEFT NAV MENU     //////////
///////////////////////////////////////////////////////////
-->
<nav id="menu" data-search="close">
    <ul>
        <li><span><i class="icon  fa fa-laptop"></i> 仪表盘</span>
            <ul>
                <li><a href="/dashboard/"><i class="icon  fa fa-rocket"></i> 仪表盘 </a></li>
            </ul>
        </li>
        <li><span><i class="icon  fa fa-th-list"></i> 账户管理</span>
            <ul>
                <li><a href="/account/"> 个人账户 </a></li>
                <li><a href=""> Hide User Panel </a></li>
            </ul>
        </li>
        <li><span><i class="icon  fa fa-briefcase"></i> 财务管理</span>
            <ul>
                <li><a href="/finance/"> 个人财务 </a></li>
                <li><a href="ui_button.html"> Button </a></li>
                <li><a href="ui_icon.html"> Fonts Icon</a></li>
                <li><a href="ui_slide.html"> Slide</a></li>
                <li><a href="ui_modal.html"> Modal</a></li>
                <li><a href="ui_panel.html"> Panel</a></li>
                <li><a href="ui_alert.html"> Alert</a></li>
                <li><a href="ui_typography.html"> Typography</a></li>
                <li><a href="ui_nestable.html"> Nestable</a></li>
            </ul>
        </li>
        <li><span><i class="icon  fa fa-bar-chart-o"></i> 分析报表 </span>
            <ul>
                <li><a href="chartFlot.html"> Flot Chart</a></li>
                <li><a href="chartMorris.html"> Morris Chart</a></li>
                <li><a href="chartOther.html"> Other Chart</a></li>
            </ul>
        </li>
        <li><span><i class="icon  fa fa-bar-chart-o"></i> 银行/平台活动 </span>
            <ul>
                <li><a href="chartFlot.html"> Flot Chart</a></li>
                <li><a href="chartMorris.html"> Morris Chart</a></li>
                <li><a href="chartOther.html"> Other Chart</a></li>
            </ul>
        </li>
        <li><span><i class="icon  fa fa-fire"></i> 个人信息管理</span>
            <ul>
                <li><a href="/profile/">个人信息</a></li>
                <li><a href="/password/">密码修改</a></li>
            </ul>
        </li>
    </ul>
</nav>
<!-- //nav left menu-->
