{% load staticfiles %}
<!--
//////////////////////////////////////////////////////////////
//////////     LEFT NAV MENU     //////////
///////////////////////////////////////////////////////////
-->
<nav id="menu" data-search="close">
    <ul>
        <li><span><i class="icon  fa fa-laptop"></i> 仪表盘</span>
            <ul>
                <li><a href="/dashboard/"><i class="icon  fa fa-rocket"></i> 仪表盘 </a></li>
            </ul>
        </li>
        <li><span><i class="icon  fa fa-th-list"></i> 账户管理</span>
            <ul>
                <li><a href="/account/"> 个人账户 </a></li>
                <li><a href="/account_deposit/"> 定存账户 </a></li>
                <li><a href="/account_type/"> 账户类型 </a></li>
            </ul>
        </li>
        <li><span><i class="icon  fa fa-briefcase"></i> 账务管理</span>
            <ul>
                <li><a href="/accounting/"> 记账 </a></li>
                <li><a href="/account_flow/"> 个人账务 </a></li>
            </ul>
        </li>
        <li><span><i class="icon  fa fa-bar-chart-o"></i> 分析报表 </span>
            <ul>
                <li><a href="/account_chart/"> 资金分布</a></li>
                <li><a href="/invest_chart/"> 投资报表</a></li>
                <li><a href="/finance_chart/"> 账务报表</a></li>
                <li><a href="/lc_calendar/"> 理财日历</a></li>
                <li><a href="/asset_increase/"> 资产增长</a></li>
            </ul>
        </li>
        <li><span><i class="icon  fa fa-bar-chart-o"></i> 金融工具 </span>
            <ul>
                {#                <li><a href="/ccc/">信用卡</a></li>#}

                <li><span> 信用卡 </span>
                    <ul>
                        <li><a href="/my_cc/"> 我的信用卡 </a></li>
                        <li><a href="/card_promote/"> 信用卡推荐 </a></li>
                        <li><a href="/cc_marketing/"> 信用卡活动 </a></li>
                    </ul>
                </li>

                <li><a href="/gold/">黄金</a></li>
                <li><a href="/stock/">股票</a></li>
                <li><a href="/platform_finance/">理财平台</a></li>
                <li><a href="/finance_analyst/">理财师</a></li>
            </ul>
        </li>
        <li><span><i class="icon  fa fa-fire"></i> 个人信息管理</span>
            <ul>
                <li><a href="/profile/">个人信息</a></li>
                <li><a href="/password/">密码修改</a></li>
{#                <li><a href="/donate/">捐赠</a></li>#}
            </ul>
        </li>
    </ul>
</nav>
<!-- //nav left menu-->


