{% load staticfiles %}
<div id="ajaxModule">
    <div>
        <div class="modal-backdrop in"></div>
        <div tabindex="-1" role="dialog"
             style="display:block;    background-color: transparent;    top: 10%;    left: 55%;"
             class="modal in">
            <div class="modal-dialog">
                <div class="modal-content" style="overflow:hidden;">
                    <div class="modal-header">
                        新增子账户
                        <button type="button" class="close" aria-hidden="true">×</button>
                        <h4 class="modal-title"></h4></div>
                    <div class="modal-body">
                        {% if account.platform_id == -1 %}
                            <form class="form-horizontal" method="post" id="formAjaxId" data-collabel="3"
                                  data-parsley-validate action="/api/account_sub/">
                                <input type="hidden" name="is_deposit" value="Y"/>
                                <input type="hidden" name="account_id" value="{{ account.account_id }}"/>

                                <div class="form-group"><label
                                        class="col-lg-2 control-label">主账户名</label>

                                    <div class="col-lg-10">
                                        <input type="text"
                                               class="form-control"
                                               value="{{ account.account_name }}"
                                               disabled readonly/>
                                    </div>
                                </div>

                                <div class="form-group"><label
                                        class="col-lg-2 control-label">子账户名</label>

                                    <div class="col-lg-10">
                                        <input type="text"
                                               class="form-control"
                                               name="account_name"
                                               placeholder="请输入子账户名" parsley-required="true"/>
                                    </div>
                                </div>
                                <div class="form-group"><label
                                        class="col-lg-2 control-label">起止时间</label>

                                    <input type="hidden"
                                           class="form-control"
                                           name="gmt_start"
                                           id="gmt_start_inp" value="2017/01/01" parsley-required="true"/>
                                    <input type="hidden"
                                           class="form-control"
                                           name="gmt_end"
                                           id="gmt_end_inp" value="2017/12/31" parsley-required="true"/>

                                    {#                                </div>#}
                                    <div class="col-lg-10">
                                        <div id="reportrange"
                                             style="background: #97D4BB; color:#FFF; cursor: pointer; padding: 7px 10px; display:inline-block">
                                            <i class="fa fa-calendar"></i> <span></span></div>
                                    </div>
                                </div>
                                <div class="form-group"><label
                                        class="col-lg-2 control-label">余额</label>

                                    <div class="col-lg-10">

                                        <input type="text"
                                               class="form-control"
                                               name="balance"
                                               placeholder="请输入金额" parsley-required="true"/>
                                    </div>
                                </div>
                                <div class="form-group"><label for="inputName"
                                                               class="col-lg-2 control-label">定存周期</label>

                                    <div class="col-lg-7">
                                        <select name="deposit_type" class="form-control"
                                                type="select" parsley-required="true" id="account_type_select">
                                            <option value="M">
                                                每月
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group"><label
                                        class="col-lg-2 control-label">定存日期</label>

                                    <div class="col-lg-10">
                                        <input type="text"
                                               class="form-control"
                                               name="day" id="day_inp"
                                               placeholder="请输入定存日期" parsley-required="true"/>
                                    </div>
                                </div>
                                <div class="form-group"><label
                                        class="col-lg-2 control-label">定存基数</label>

                                    <div class="col-lg-10">
                                        <input type="text"
                                               class="form-control"
                                               name="base" id="base_inp"
                                               placeholder="请输入定存基数" />
                                    </div>
                                </div>
                                <div class="form-group"><label
                                        class="col-lg-2 control-label">比例%(个人+公司)</label>

                                    <div class="col-lg-10">
                                        <input type="text"
                                               class="form-control"
                                               name="deposit_rate" id="deposit_rate_inp"
                                               placeholder="请输入定存比例"/>
                                    </div>
                                </div>

                                <div class="form-group"><label
                                        class="col-lg-2 control-label">定存金额</label>

                                    <div class="col-lg-10">

                                        <input type="text"
                                               class="form-control"
                                               name="amount" id="amount_inp"
                                               placeholder="请输入新增金额" parsley-required="true"/>
                                    </div>
                                </div>
                                <div class="form-group"><label
                                        class="col-lg-2 control-label">备注</label>

                                    <div class="col-lg-10">
                                        <input type="text"
                                               class="form-control"
                                               name="memo"
                                               placeholder="请输入备注" parsley-required="true"/>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default closeBtn">关闭</button>
                                    <button class="btn btn-primary btn btn-success" type="submit">保存</button>
                                </div>
                            </form>
                        {% else %}
                            <form class="form-horizontal" method="post" id="formAjaxId" data-collabel="3"
                                  data-parsley-validate action="/api/account_sub/">

                                <input type="hidden" name="account_id" value="{{ account.account_id }}"/>

                                <div class="form-group"><label
                                        class="col-lg-2 control-label">主账户名</label>

                                    <div class="col-lg-10">
                                        <input type="text"
                                               class="form-control"
                                               value="{{ account.account_name }}"
                                               disabled readonly/>
                                    </div>
                                </div>

                                <div class="form-group"><label
                                        class="col-lg-2 control-label">子账户名</label>

                                    <div class="col-lg-10">
                                        <input type="text"
                                               class="form-control"
                                               name="account_name"
                                               placeholder="请输入子账户名" parsley-required="true"/>
                                    </div>
                                </div>
                                <div class="form-group"><label
                                        class="col-lg-2 control-label">平台产品</label>

                                    <div class="col-lg-7">
                                        <select name="platform_product" class="form-control"
                                                type="select" parsley-required="true" id="platform_product_select">
                                            {% for platform_product in platform_product_list %}

                                                <option value="{{ platform_product.product_id }}">
                                                    {{ platform_product.product_name }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <button class="pull-right btn btn-primary" id="addPlatformProduct" type="button"
                                                data-src="{{ account.platform.platform_id }}">
                                            <i class="glyphicon glyphicon-plus"></i><span>新增产品</span></button>
                                    </div>
                                </div>
                                <div class="form-group"><label for="inputName"
                                                               class="col-lg-2 control-label">定期活期</label>

                                    <div class="col-lg-7">
                                        <select name="redeem_type" class="form-control"
                                                type="select" parsley-required="true" id="account_type_select">
                                            <option value="R">定期</option>
                                            <option value="C">活期</option>
                                        </select>

                                        {#                                    <div class="col-sm-4 ios-switch areo">#}
                                        {#                                        <div class="switch has-switch ios checked">#}
                                        {#                                            <div class="switch-on switch-animate"><input type="checkbox"><span#}
                                        {#                                                    class="switch-left"></span><label class="normal">&nbsp;</label><span#}
                                        {#                                                    class="switch-right"></span></div>#}
                                        {#                                        </div>#}
                                        {##}
                                        {#                                    </div>#}
                                    </div>
                                </div>
                                <div class="form-group"><label
                                        class="col-lg-2 control-label">起止时间</label>

                                    <input type="hidden"
                                           class="form-control"
                                           name="gmt_start"
                                           id="gmt_start_inp" value="2017/01/01" parsley-required="true"/>
                                    <input type="hidden"
                                           class="form-control"
                                           name="gmt_end"
                                           id="gmt_end_inp" value="2017/12/31" parsley-required="true"/>

                                    {#                                </div>#}
                                    <div class="col-lg-10">
                                        <div id="reportrange"
                                             style="background: #97D4BB; color:#FFF; cursor: pointer; padding: 7px 10px; display:inline-block">
                                            <i class="fa fa-calendar"></i> <span></span></div>
                                    </div>
                                </div>
                                <div class="form-group"><label
                                        class="col-lg-2 control-label">金额</label>

                                    <div class="col-lg-10">

                                        <input type="text"
                                               class="form-control"
                                               name="balance"
                                               placeholder="请输入金额" parsley-required="true"/>
                                    </div>
                                </div>
                                <div class="form-group"><label
                                        class="col-lg-2 control-label">收益率</label>

                                    <div class="col-lg-10">
                                        <input type="text"
                                               class="form-control"
                                               name="return_rate"
                                               placeholder="请输入收益率" parsley-required="true"/>
                                    </div>
                                </div>
                                <div class="form-group"><label
                                        class="col-lg-2 control-label">备注</label>

                                    <div class="col-lg-10">
                                        <input type="text"
                                               class="form-control"
                                               name="memo"
                                               placeholder="请输入备注" parsley-required="true"/>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default closeBtn">关闭</button>
                                    <button class="btn btn-primary btn btn-success" type="submit">保存</button>
                                </div>
                            </form>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static "assets/plugins/datetime/datetime.js" %}"></script>

<script type="text/javascript">
    $("#ajaxModule button.close,#ajaxModule button.closeBtn").click(function () {
        $("#ajaxModule").fadeOut();
        $("#ajaxModule").remove();
    });


    $("#addPlatformProduct").click(function () {
        $.ajax({
            url: '/ajax/add_platform_product/?platform_id=' + $(this).attr("data-src"),
            success: function (e) {
                $("body").append(e);
            }
        })
    });

    var refresh_account_type = function (callback_data) {
        console.log(callback_data);
        $("#account_type_select option").remove();
        var acct_type_select = $("#account_type_select");
        for (var index in callback_data) {
            acct_type_select.append("<option value='" + callback_data[index].pk + "'>" + callback_data[index].name + "</option>");
        }
        $("#account_type_select option:last").attr({"selected": "selected"});
    };

    var refresh_platform_product = function (callback_data) {
        $("#platform_product_select option").remove();
        var acct_type_select = $("#platform_product_select");
        for (var index in callback_data) {
            acct_type_select.append("<option value='" + callback_data[index].pk + "'>" + callback_data[index].product_name + "</option>");
        }
        $("#platform_product_select option:last").attr({"selected": "selected"});
    };

    $("#ajaxModule form").submit(function (e) {
        e.preventDefault();
        if (!$(this).parsley('validate')) {
//            e.preventDefault();
        } else {
            $.ajax({
                url: $(this).attr("action"),
                type: "post",
                data: $(this).serialize(),
                success: function (e) {
                    $("#ajaxModule").fadeOut();
                    $("#ajaxModule").remove();
                    location.reload();
                }
            })
        }
    });

    $('#reportrange').daterangepicker({
                startDate: moment().subtract('days', 29),
                endDate: moment(),
                minDate: '01/01/2000',
                maxDate: '12/31/2050',
                dateLimit: {days: 99999},
                /*parentEl:"#main",*/
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    {#                    'Today': [moment(), moment()],#}
                    {#                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],#}
                    '过去七天': [moment().subtract('days', 6), moment()],
                    {#                    'This Month': [moment().startOf('month'), moment().endOf('month')],#}
                    '过去三十天': [moment().subtract('days', 30), moment()],
                    {#                            [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]#}
                },
                opens: 'left',
                buttonClasses: ['btn-sm'],
                applyClass: 'btn-inverse',
                cancelClass: 'btn-inverse',
                format: 'MM/DD/YYYY',
                separator: ' to ',
                locale: {
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: '自定义选择',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            },
            function (start, end) {
                console.log("Callback has been called!");
                var start_fmt = start.format('YYYY-MM-DD')
                var end_fmt = end.format('YYYY-MM-DD');
                $('#reportrange span').html(start_fmt + ' ~ ' + end_fmt);
                $("#gmt_start_inp").val(start_fmt);
                $("#gmt_end_inp").val(end_fmt);
                $("#cycle_inp").val(end.diff(start, 'day'));
            }
    );
    $('#reportrange span').html('2017-01-01 ~ 2017-12-31');
    $("#gmt_start_inp").val('2017-01-01');
    $("#gmt_end_inp").val('2017-12-31');
    $("#cycle_inp").val(365);

    var calc_amount = function(rate, base){
        if(base && rate && !isNaN(base) && !isNaN(rate)){
            $("#amount_inp").val(Math.round(base*rate/100));
        }
    };

    $("#base_inp").change(function(){
        calc_amount($("#deposit_rate_inp").val(), $(this).val())
    });



    $("#deposit_rate_inp").change(function(){
        calc_amount($(this).val(), $("#base_inp").val())
    });


</script>